{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "avoid",
  "eslintIntegration": true,
  "overrides": [{
    "files": [".prettierrc", ".eslintrc", "*.json"],
    "options": {
      "parser": "json"
    }
  }]
}
